/* src/Navbar.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* Set background color for the entire page */
  background-image: url('../Images-Netflix/main-background-image.jpg'); /* Optional: Background image URL */
  background-size: cover; /* Cover the entire viewport */
  background-position: center top; /* Center the background image vertically and horizontally */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  height: 70vh; /* Ensure the body takes up the full viewport height */
  overflow: hidden; 
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(0.1px); /* Apply a blur effect to the background */
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px; /* Add padding to the sides */
}

.logo {
  width: 120px; /* Adjust size of logo container */
  height: auto;
}

.harshpreet-logo {
  width: 100%; /* Make the SVG logo responsive within its container */
  height: auto;
  fill: #E50914; /* Match Netflix red color */
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px; /* Adjust spacing between navigation items */
}

.nav-links a {
  text-decoration: none;
  color: white; /* Adjust text color */
  font-weight: lighter;
}

.nav-links a:hover {
  text-decoration: underline;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Make the profile image circular */
}
